* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.todo-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    background: #000;
    text-align: center;
    padding: 17px;
    display: flex;
    gap: 9px;
}

.input-wrapper input {
    padding: 10px;
    flex: 1;
    border-radius: 5px;
    border: 0;
}

.input-wrapper button {
    padding: 0 13px;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 9px;
    background: #ff0000;
    color: #fff;
    border: 0;
    border-radius: 5px;
}

.input-wrapper button i {
    font-size: 16px;
    position: relative;
    top: -2px;
}

.content-wrapper {
    flex: 1;
    background: whitesmoke;
    padding: 17px;
    overflow: scroll;
}

.list li {
    display: flex;
    width: 100%;
    gap: 9px;
    background: #fff;
    padding: 11px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px gainsboro;
    align-items: center;
}

.list li span {
    margin-right: auto;
}

.list-button {
    padding: 7px;
    display: flex;
    gap: 9px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
}

.list-button.edit {
    background: #10a028;
    color: #fff;
}

.list-button.delete {
    background: #ea0c0c;
    color: #fff;
}

.list-button:hover {
    background-color: #000;
}