.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  padding: 25px;
}
input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
button {
  padding: 10px;
}
p {
  word-break: break-all;
}
