@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc-wrapper {
  background: #fff;
  padding: 18px;
  border-radius: 8px;
  width: 300px;
}
.calc-wrapper .calc-input {
  min-height: 41px;
  width: 100%;
  outline: none;
  padding: 0px 10px;
  border: 0;
  background: transparent;
  font-size: 29px;
  text-align: right;
}

.calc-wrapper .calc-output {
  width: 100%;
  padding: 0px 10px;
  border: 0;
  background: transparent;
  font-size: 29px;
  text-align: right;
  pointer-events: none;
}

.calc-wrapper .output {
  background: #dbdbdb;
  margin-bottom: 15px;
  border-radius: 5px;
}

.button-grid-flex {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.button-grid-left {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  flex: 1;
  gap: 5px;
}

.button-grid-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 55px;
}

.button {
  padding: 8px;
  background: linear-gradient(45deg, black, #656565);
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  border: 3px solid black;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.button:active {
  background: #000;
}

.calc-input,
.calc-output {
  font-family: "Teko", sans-serif;
}
svg {
  height: 23px;
  margin: 0 auto;
}

button.equals {
  flex: 1;
}
